html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://photos-5.dropbox.com/t/2/AADJAAnurjgW6kMlIdvThkQ0uRV9Fe-eM4Xvt4ol1ARzXQ/12/932222048/jpeg/32x32/1/_/1/2/party%20copy.jpg/ELCU1_YJGAMgAigC/p_wFfBKy0DsONprKV57CMXMAfLwLFXZJFzkvh6KzlVg%2CiyClNNbtmE-Dhqf5p8DYcUsKIiXxC0mCX2-WWRshIUc%2CUnU6kYLwsmVU54GwlC8qZ4bvgVGyeF5lAnCGiSbU5CU%2CcUsxNxn3FggGuhjBPfrPIRxiIR69jQUa1QWJj_TufB8%2CfLQwTLIRavk9W3GNiiTCN9Z2NCpaKr9yT6nsv0mTI9o%2CXopcCpC0TRAw67iNhNUkw0hQqq7kwVvxasJasawWAK8%2CW_rqAHGMZGhUHNwbT4Syew8XemMIEdsDW2D4OvsyWbY%2CYvq0TShWZQe_zlOiwbydcVV7MH7GuNoJ49E0YJigZrA%2Coj_VU8wNqpUTzGGDZ_cWpl24T2CNRd5_8bDsXSTjE7g%2CBflhSlLH-YlES0LZug8z57UkRsiNBYBWPI8k3gWlWNk%2C1iefykmK0UCtwwfzhe5OWaF1jS1NoQMrgaxg7sFPx44%2CpuTB3QadD0IbxpXfklkvJ7bKteHTrG8UXYnSOSxy8Ao%2C6wBwDa_H66kVvfc9sCSfPufkNiIdHevJKbiNFmG1CzY%2CGz2HWC6MErT4qM4jJs0rztQpmUWz5iZoJ6vdBZn7D2E%2CCSxMMtdabsl7r4pp2rlFMNAJPvcLTprrZ2tmQAFH1Wc%2CvfAR_x0nZGWwWX87CeFXL3cxdrUWr89X6JCorOigrs0?size=1024x768&size_mode=3")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
}
